body{
    background-color: #162950;
    overflow-x: hidden;
}
.wrapper{
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 6px;
}
.header{
    height: 44px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.header__side{
    display: flex;
    align-items: center;
}
.logo{
    padding-right: 23px;
}
.logo__link{
    height: 100%;
}
.logo__image{
    height: 100%;
    width: 220px;
}
.socials{
    display: flex;
    border-left: 2px solid rgba(96, 145, 248, 0.5);
    ;
    padding-left: 14px;
}
.socials__list{
    display: flex;
    align-items: center;
}
.socials__list > .socials__item{
    margin-right: 7px;
}
.socials__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
.socials__item:hover{
    background-color: #6091F8;
    border-radius: 5px;
}
.socials__item:nth-child(3){
    padding-right: 2px;

}
.socials__item:nth-child(4){
    padding-left: 2px;
    padding-bottom: 2px;
}
.socials__link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials__img{
    width: 22px;
    height: 22px;
}
.phone{
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}
.phone__link{
    color: white;
    text-decoration: none;
    font-family: 'Euclid Square Light';
    font-weight: 400;
    font-size: 20px;

}
.call-back{
    border: 1px solid #6091F8;
    border-radius: 100px;
    padding: 11px 16px;
}
.call-back__link{
    font-family: 'Euclid Square Light';
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
.call-back:hover{
    background-color: #6091F8;
}
.title-block{
    display: flex;
    margin-top: 120px;
    margin-bottom: 190px;
}
.title-block__left-side{
    flex-basis: 72%;
}
.title-block__right-side{
    position: relative;
}
.title{
    margin-bottom: 40px;
}
.title__text{
    font-family: 'Euclid Square SemiBold';
    color: white;
    line-height: 1.3em;
    font-size: 60px;
    flex-basis: 30%;
    white-space: pre-line;
    
}
.title__city{ 
    white-space: nowrap;
    line-height: 2.6em;
    vertical-align: top;
    font-family: 'Euclid Square Light';
    font-size: 24px;
    color: white;
    background-color: #6091F8;
    border-radius: 50px;
    padding: 2px 8px 4px;
    text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px, 0px 5px 6px black;
    
}
.title-block__list{
    margin-bottom: 60px;
}
.title-block__list-item{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Euclid Square Light';
    font-size: 32px;
    margin-bottom: 35px;
}
.title-block__item-img{
    margin-right: 30px;
}
.title-block__image{
    position: absolute;
    left: -135px;
    top: -75px;
    z-index: -1;
}
.title-block__background-image{
    position: absolute;
    left: -550px;
    top: -200px;
    z-index: -3;
}
.title-block__text{
    width: 160px;
    position: absolute;
    left: 37px;
    top: 95%;
    font-family: 'Euclid Square Light';
    font-size: 16px;
    color: white;
}
.title-block__text > p{
    width: 100%;
    color: #6091F8;
    font-family: 'Euclid Square Medium';
    font-size: 16px;
    margin-bottom: 3px;
}
.title-block__gif1{
position: absolute;
left: 200px;
top: 370px;
}
.callback-mobile{
    display: none;
}
.title-block__gif2{
    position: absolute;
    left: -170px;
    top: -110px;
}
.title-block__form{
    display: flex;
    max-width: 830px;
    max-height: 90px;
}
.title-block__number{
    display: block;
    font-family: 'Euclid Square Bold';
    font-size: 16px;
    opacity: 1;
    height: 90px;
    flex-basis: 60%;
    padding-left: 40px;
    border-radius: 100px;
}
.title-block__number::placeholder{
    color: #D8D8D8;
}
.title-block__submit{
    display: block;
    font-family: 'Euclid Square Bold';
    font-size: 16px;
    background-color: #FF0000;
    color: #FFFFFF;
    margin-left: -80px;
    border-radius: 100px;
    flex-basis: 40%;
    cursor: pointer;
}
.subtitle-block{
    position: relative;
    margin-bottom: 15px;
}
.subtitle-block__background-image{
    position: absolute;
    top: -200px;
    left: 900px;
}
.subtitle{
    line-height: 1.3;
    margin-bottom: 40px;
    font-family: 'Euclid Square SemiBold';
    font-size: 60px;
    color: white;
    z-index: 1;
    text-align: center;
    white-space: pre-line;
}
.subtitle__yellow-text{
    font-family: 'Euclid Square SemiBold';
    font-size: 60px;
    color: #F5F860;
}
.subtitle__text{
    font-family: 'Euclid Square Light';
    font-size: 36px;
    color: #6091F8;
    text-align: center;
    margin-bottom: 10px;
}
.example-block{
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
    /* border-bottom: 1px solid rgba(96, 145, 248, 0.5); */
}
.example-block__title{
    font-family: 'Euclid Square SemiBold';

    font-size: 32px;
    margin-bottom: 50px;
    text-align: left;
    color: white;
}
.example-block__image{
    margin-bottom: 50px;
    max-width: 100%;
}
.example-block__watch-review{
    font-size: 16px;
    font-family: 'Euclid Square Bold';
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto 80px auto;
    max-width: 405px;
    height: 90px;
    border-radius: 100px;
    text-align: center;
    color: white;
    background-color: #FF0000;
}
.example-block__watch-review > img{
    width: 29px;
    height: 29px;
    margin-right: 11px;
}
.results{
display: flex;
margin-bottom: 50px;
}
.results__image{
    max-width: 1228px;
    
}
.results__list{
    margin-left: 90px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.results__item{
    
}
.results__numbers{
    
  font-family: 'Euclid Square SemiBold';
    font-size: 48px;
    color: #F5F860;
}
.results__text{
    line-height: 1.3;
    font-family: 'Euclid Square Light';
    font-size: 20px;
    color: white;
}
.results__link{
    padding-bottom: 5px;
}
.results__link > a{
    border-bottom: 2px solid white;
    word-wrap: none;
    color: white;
    font-family: 'Euclid Square Regular';
    font-size: 30px;
}
.menu-mobile{
    display: none;
}
.swiper{
    max-width: 100%;
    
}
.swiper__background-image{

}
.swiper-wrapper:last-child{
    margin-bottom: 20px;
}
.swiper-slide{
    max-height: 1470px;
}
.swiper-button-prev{
    
}
.swiper-button-next{
    margin-right: 14px;
}
.get-design{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}
.get-design__side{
    position: relative;
    padding-left: 48px;
    flex-basis: 50%;
}
.get-design__background-image{
    position: absolute;
    left: -235px;
    top: -20px;
}
.get-design__text{
    line-height: 1.3;
    color: #162950;
    margin-top:78px;
    font-family: "Euclid Square Bold";
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 14px;
}
.get-design__text__blue{
    color: #6091F8;
}
.get-design__text__red{
    font-family: "Euclid Square Regular";
    font-size: 30px;
    color: #FF0000;
    margin-bottom: 29px;
}
.get-design__form{
    max-width: 436px;

}
.get-design__form-input{
    font-family: "Euclid Square Regular";
    display: block;
    font-size: 16px;
    width: 100%;
    height: 64px;
    margin-bottom: 15px;
    padding: 22px 23px 22px 23px;
    border-radius: 100px;
    border: 1px solid #DBE7FF;
}
.get-design__submit{
    margin-top: 15px;
    font-family: "Euclid Square Bold";
    width: 100%;
    font-size: 16px;
    background-color: #FF0000;
    color: white;
    border-radius: 100px;
    height: 86px;
    text-align: center;
}
.get-design__form > p{
    font-family: "Euclid Square Regular";
    font-size: 18px;
    margin-bottom: 10px;
}
.get-design__form-input::placeholder{
    font-size: 16px;
    font-family: "Euclid Square Regular";

}
.get-design__side-blockimage{
    margin-left: -49px;
}
.get-design__side-image{
    position: absolute;
    top: 90%;
    left: -100px;
}
.form-mobile{
    display: none;
}
.form-mobile__number{
    display: none;

}
.form-mobile__submit{
    display: none;
}
@media (max-width: 1820px){
    .title-block__image{
        left: -200px;
        
    }
    .title-block__gif1{
        
        left: 135px;
    }
    .title-block__gif2{
        left: -235px;
        top: -110px;
    }
    .title-block__text{
        left: -35px;
    }
}
@media (max-width: 1620px){
    .title-block__image{
        left: -200px;
    }
}
@media (max-width: 1250px) {
    .title-block{
        display: block;
    }
    .title-block__gif1{
        display: none;
    }
    .title-block__gif1{

    }
    .get-design__background-image{
        left: -29%;
        width: 161.2%;
        top: 10%;
    }
    .wrapper{
        padding: 0 15px;
    }
    .title-block__form{
        display: none;
    }
    .title-block__right-side{
        position: relative;
        display: block;
        height: 450px;
        margin: 0 auto;
    }
    .title-block__image{   
        width: 550px;
        left: 25%;
        margin-top: 40px;
    }
    .form-mobile{
        margin: 0 auto;
            display: flex;
            max-width: 830px;
            max-height: 90px;
        }
    .form-mobile__number{
            display: block;
            font-family: 'Euclid Square Bold';
            font-size: 16px;
            opacity: 1;
            height: 90px;
            flex-basis: 60%;
            padding-left: 40px;
            border-radius: 100px;
        }
    .form-mobile__number::placeholder{
            color: #D8D8D8;
        }
    .form-mobile__submit{
            display: block;
            font-family: 'Euclid Square Bold';
            font-size: 16px;
            background-color: #FF0000;
            color: #FFFFFF;
            margin-left: -80px;
            border-radius: 100px;
            flex-basis: 40%;
            cursor: pointer;
        }
        .title-block__text{
            width: 160px;
            position: absolute;
            left: 300px;
            top: 550px;
            font-family: 'Euclid Square Light';
            font-size: 16px;
            color: white;
        }
        .results{
            display: block;
        }
        .results__list{
            margin-left: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .results__image{
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
        .results__link{
            display: flex;
            align-items: center;
        }
        .results__link > a{
            padding-bottom: 5px;
            border-bottom: 2px solid white;
            word-wrap: none;
            color: white;
            font-family: 'Euclid Square Regular';
            font-size: 30px;
        }
    }


@media (min-width: 992px) and (max-width: 1199px) {
    .title-block{
        display: block;
    }
    .subtitle-block__background-image{
    display: none;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .menu-mobile{
        display: block;
    }
    .callback-mobile{
        display: block;
    }
    .title-block__image{   
        width: 550px;
        object-fit: cover;
        position: absolute;
        left: 25%;
        margin-top: 40px;
    }
    .title__text{
        font-size: 48px;
    }
    .subtitle{
        margin-top: 15px;
        font-size: 48px;

    }
    .subtitle__yellow-text{
        font-size: 48px;
        
    }
    .results__numbers{
        font-size: 32px;

    }
    .call-back{
        display: none;
    }
    .phone__link{
        display: none;
    }
    .socials{
        display: none;
    }
    .header__side{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .header__side:last-child{
        display: none;
    }
    .results__link > a{
        border-bottom: 1px white;
    }
}

@media (max-width: 767px) {
    .menu-mobile{
        display: block;
    }
    .callback-mobile{
        display: block;
    }
    .title-block__image{   
        width: 450px;
        object-fit: cover;
        position: absolute;
        left: 25%;
        margin-top: 40px;
    }
    .title-block__text{
        width: 160px;
        position: absolute;
        left: 250px;
        top: 500px;
        font-family: 'Euclid Square Light';
        font-size: 14px;
        color: white;
    }
    .form-mobile{
        max-width: 100%;
        margin: 0 auto 20px auto;
    }
    .title__text{
        font-size: 48px;
    }
    .subtitle{
        font-size: 48px;
    }
    .subtitle__yellow-text{
        font-size: 48px;

    }
    .call-back{
        display: none;
    }
    .phone__link{
        display: none;
    }
    .socials{
        display: none;
    }
    .header__side{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .header__side:last-child{
        display: none;
    }
}
@media (max-width: 320px) {
    .title-block__image{   
        width: 280px;
        object-fit: cover;
        position: absolute;
        left: 5%;
        margin-top: 40px;
    }
    .title-block__text{
        width: 160px;
        position: absolute;
        left: 37px;
        top: 95%;
        font-family: 'Euclid Square Light';
        font-size: 16px;
        color: white;
    }
    .title-block__right-side{
        position: relative;
        display: block;
        height: 230px;
        margin: 0 auto;
    }
    .title__text{
        font-size: 22px;
    }
    .title{
        margin-bottom: 30px;
    }
    .title__city{
        padding: 2px 5px;
        font-size: 14px;
        line-height: 2;
    }
    .title-block__list-item{
        font-size: 16px;
    }
    .form-mobile__number{
        height: 60px;
    }
    .form-mobile{
        display: block;
    }
    .header{
        margin-top: 25px;
    }
    .logo__image{
        height: 100%;
        width: 145px;
    }
    .menu-mobile__link{
        width: 34px;
        height: 20px;
    }
    .title-block{
        margin: 78px 0 70px 0;
        
    }
    .title-block__text{
        width: 160px;
        position: absolute;
        left: 6px;
        top: 100%;
        font-family: 'Euclid Square Light';
        font-size: 12px;
        color: white;
    }
    .title-block__text >p{
        font-size: 12px;

    }
    .form-mobile__number{
        width: 100%;
        padding-left: 19px;
    }
    .form-mobile__submit{
        width: 100%;
        display: block;
            font-family: 'Euclid Square Bold';
            font-size: 16px;
            background-color: #FF0000;
            color: #FFFFFF;
            margin-top: 10px;
            margin-left: 0;
            height: 62px;
            border-radius: 100px;
            flex-basis: 40%;
            cursor: pointer;
    }
    .form-mobile{
        margin-bottom: 80px;
    }
    .subtitle{
        font-size: 24px;
    }
    .subtitle__yellow-text{
        font-size: 24px;
    }
    .subtitle__text{
        font-size: 24px;
    }
    .wrapper{
        padding: 0 10px;
    }
    .example-block{
        margin-top: 40px;

    }
    .example-block__title{
        font-size: 20px;
        text-align: center;
    }
    .results__numbers{
        font-size: 18px;
    }
    .results__text{
        font-size: 12px;
    }
    .results__link{
        display: none;
    }
    .results__list{
        margin-left: 0;
    }
    .results{
        margin-bottom: 25px;
    }
    .swiper-button-next{
        display: none;
    }
    .swiper-button-prev{
        display: none;
    }
}